body {
    background-color: rgb(249, 250, 251);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.6;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 210, 194);
    padding: 0.8rem 1.2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.brand {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2;
}

.site-nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav a {
    color: rgb(22, 23, 20);
    text-decoration: none;
}

.site-nav a:hover {
    color: rgb(108, 67, 41);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(10, 10, 10);
    padding: 0,6rem;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

table tr th:nth-child(3),
table tr td:nth-child(3) {
    display: none;
}

thead {
    background: rgb(232, 231, 219);
    color: rgb(0, 0, 0);
}

tbody tr:nth-child(even) {
    background: rgb(197, 210, 194);
}

fieldset {
    border: 1px solid rgb(4, 113, 79);
    border-radius: 10px;
    margin-bottom: 1rem;
}

legend {
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    color: rgb(41, 76, 65);
}

input, 
select, 
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgb(4, 113, 79);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 0.5rem;
    padding: 0.7rem 1.2rem;
    background-color: rgb(227, 198, 227);
    color: rgb(31, 10, 10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(250, 67, 183);
}

.site-footer {
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
    background-color: rgb(208, 221, 205);
    display: block;
    border-radius: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: fit-content;
}

footer {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 600px) {
    .site-header {
        flex-direction: column;
        align-items: flex-start;
    }
}
